<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.20.0" targetFramework="net452" userInstalled="true" />
  <package id="Castle.Core" version="3.3.1" targetFramework="net452" userInstalled="true" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net452" userInstalled="true" />
  <package id="MediatR" version="2.0.0-beta-004" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" userInstalled="true" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Specify" version="0.8.82" targetFramework="net452" userInstalled="true" />
  <package id="TestStack.BDDfy" version="4.1.2" targetFramework="net452" userInstalled="true" />
  <package id="TestStack.Dossier" version="3.1.1" targetFramework="net452" userInstalled="true" />
</packages>